.footer {
  width: 100%;
  padding: 2% 0 0 1%;
  margin-top: 2%;
  background-color: var(--greenishblue);
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}
.footer .col h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
  padding: 10px 0;
  color: #b30000;
  text-transform: uppercase;
}
.footer .col ul {
  list-style-type: none;
  padding: 0;
}
.footer .col ul li {
  color: var(--gray);
  font-size: 12px;
  padding: 5px 0px;
}
.address ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  cursor: pointer;
  color: var(--black);
  font-weight: bold;
}
.clearfix {
  clear: both;
}

.socials {
  padding-left: -3rem;
  color: var(--gray);
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 3rem 0;
  position: relative;
  margin-left: 20px;
}
.socials > li {
  position: relative;
  display: block;
  /* padding-left:3rem ; */
}

.socials > li:hover {
  color: var(--black);
  cursor: pointer;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .address {
    width: 1000px;
    display: block;
  }
  .address h2 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h2 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h2 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
